 <div class="container-fluid">
  <div class="inner-contents">
    <div
      class="page-header d-flex align-items-center justify-content-between mr-bottom-30">
      <div class="left-part">
        <h2 class="text-dark">Employees</h2>
      </div>
      <div class="right-part d-flex align-items-center">
               <form class="search-form w-auto" (ngSubmit)="searchEmployees()">
          <input type="text" name="search" class="bg-white form-control" placeholder="Search" [(ngModel)]="searchTerm">
          <button type="submit" class="btn"><img src="assets/img/svg/search.svg"
              alt></button>
        </form>

      </div>
    </div>

    <div class="row">
      <div class="col-xxl-3 col-lg-6" *ngFor="let employee of employees"
      >

        <div class="card border-primary mb-3 p-3">

          <div class="card-body" (click)="navigateprofile(employee.matricule)">

            <div class="d-flex align-items-center gap-4 flex-wrap">
              <div
                class="avatar-img avatar-xl rounded-2 overflow-hidden flex-shrink-0">
                <img src="http://127.0.0.1:5000/img/{{ employee.image }}"
                  alt="img" class="w-100" />
              </div>
              <div class="card-content">
                <h5 class="mb-1">{{ employee.nom }}</h5>
                <small class="d-inline-block text-gray fs-14 fw-normal">Matricule:
                  {{ employee.matricule }}</small>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>

  </div>
</div>
