@keyframes blink {

  0%,
  100% {
    color: red;
  }

  50% {
    color: transparent;
  }
}

.text-red-blink {
  animation: blink 1s infinite;
}
.text-blue {
  color: blue;
}

.text-warning {
  color: rgb(255, 115, 0);
}

.text-ok {
  color: rgb(26, 255, 0);
}

.text-danger {
  color: red;
}

.text-success {
  color: green;
}