
<app-header></app-header>

<div class="container-fluid">
  <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff"
    type="square-jelly-box" [fullScreen]="true">
    <div class="preloader-inner">
      <div class="spinner"></div>
      <div class="logo"><img src="assets/img/logo-icon.svg" alt="img"></div>
    </div>
    <p style="color: white">
      Loading... </p></ngx-spinner>
  <div class="row">

    <div class="col-xxl-9 col-lg-8">
      <div class="inner-contents">
        <div
          class="page-header d-flex align-items-center justify-content-between mr-bottom-30">
          <div class="left-part">
            <h2 class="text-dark">Profile</h2>
          </div>
          <div class="right-part">

          </div>
        </div>

        <div class="row">
          <div class="col-xxl-4 col-lg-4">
            <div class="card border-0 card--stat bg-primary text-white">
              <div class="card-body">
                <div class="card-img d-flex align-items-center gap-3">
                  <span class="d-inline-block bg-secondary text-white"><i
                      class="bi bi-check-square-fill"></i></span>
                  <h5 class="mb-0 text-white fw-semibold">Normal hours</h5>
                </div>
                <div class="card-content mt-4 mb-4">
                  <h3
                    class="fs-38 mb-0 text-white">{{employeedata.totalHeuresNormales}}</h3>
                </div>
                <div class="d-flex align-items-center gap-2">
                  <span class="icon"><i
                      class="bi bi-arrow-up-circle-fill"></i></span>
                  <p class="mb-0">
                    {{hoursToDays(employeedata.totalHeuresNormales)}}</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xxl-4 col-lg-4">
            <div class="card border-0 card--stat bg-info text-white">
              <div class="card-body">
                <div class="card-img d-flex align-items-center gap-3">
                  <span class="d-inline-block bg-primary text-white"><i
                      class="bi bi-lightbulb-fill"></i></span>
                  <h5 class="mb-0 text-white fw-semibold">
                    Supplementarily Hours</h5>
                </div>
                <div class="card-content mt-4 mb-4">
                  <h3
                    class="fs-38 mb-0 text-white">{{employeedata.totalHeuresSupplementaires}}</h3>
                </div>
                <div class="d-flex align-items-center gap-2">
                  <span class="icon"><i
                      class="bi bi-arrow-up-circle-fill"></i></span>
                  <p class="mb-0">
                    {{hoursToDays(employeedata.totalHeuresSupplementaires)}}</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xxl-4 col-lg-4">
            <div class="card border-0 card--stat bg-secondary text-white">
              <div class="card-body">
                <div class="card-img d-flex align-items-center gap-3">
                  <span class="d-inline-block bg-info text-white"><i
                      class="bi bi-bookmarks-fill"></i></span>
                  <h5 class="mb-0 text-white fw-semibold">Saturdays Hours</h5>
                </div>
                <div class="card-content mt-4 mb-4">
                  <h3
                    class="fs-38 mb-0 text-white">{{employeedata.totalHeuresSamedi}}</h3>
                </div>
                <div class="d-flex align-items-center gap-2">
                  <span class="icon"><i
                      class="bi bi-arrow-up-circle-fill"></i></span>
                  <p class="mb-0">
                    {{hoursToDays(employeedata.totalHeuresSamedi)}}</p>
                </div>
              </div>
            </div>
          </div> <div class="col-xxl-4 col-lg-4">
            <div class="card border-0 card--stat bg-secondary text-white">
              <div class="card-body">
                <div class="card-img d-flex align-items-center gap-3">
                  <span class="d-inline-block bg-info text-white"><i
                      class="bi bi-bookmarks-fill"></i></span>
                  <h5 class="mb-0 text-white fw-semibold">Sundays Hours</h5>
                </div>
                <div class="card-content mt-4 mb-4">
                  <h3
                    class="fs-38 mb-0 text-white">{{employeedata.totalHeuresDimanche}}</h3>
                </div>
                <div class="d-flex align-items-center gap-2">
                  <span class="icon"><i
                      class="bi bi-arrow-up-circle-fill"></i></span>
                  <p class="mb-0">
                    {{hoursToDays(employeedata.totalHeuresDimanche)}} </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card border-0 dropdown-widget dropdown-schedule">
          <div
            class="card-header border-0 p-5 pb-0 d-flex align-items-center gap-4">
            <div>
              <h4 class="mb-0">Authorization List:
                {{employeedata2.length}} Items</h4>
              <h3 class="mb-0">
                {{data}} </h3>
            </div>

          </div>
          <div class="card-body">
            <ul class="notification-board list-unstyled">
              <ng-container *ngIf="employeedata2">
                <ng-container *ngFor="let authorization of employeedata2">
                  <li
                    class="author-online has-new-message d-flex gap-2 border-0 p-0 mb-5">
                    <div
                      class="indicator bg-secondary me-0 mt-2 flex-shrink-0"></div>
                    <div class="user-message">
                      <h6 class="message mb-1"><a href="#"
                          class="text-dark">Authorization ID:
                          {{authorization._id}}</a></h6>
                      <p
                        class="message-footer d-flex align-items-center justify-content-between">
                        <span><i class="bi bi-calendar-fill"></i> From:
                          {{authorization.dateDebut | date:'short'}} To:
                          {{authorization.dateFin | date:'short'}}</span>
                      </p>
                    </div>
                  </li>
                </ng-container>
              </ng-container>
            </ul>
          </div>
        </div>

        <div class="card border-0 dropdown-widget dropdown-schedule">
          <div
            class="card-header border-0 p-5 pb-0 d-flex align-items-center gap-4">
            <div>
              <h4 class="mb-0">Absence Liste:
                {{employeedata1.absences.length}} Days</h4>
            </div>
            <div class="ms-auto">

            </div>
          </div>
          <div class="card-body">
            <ul class="notification-board list-unstyled">
              <ng-container *ngIf="employeedata1">
                <ng-container *ngFor="let point of employeedata1.absences">

                  <li
                    class="author-online has-new-message d-flex gap-2 border-0 p-0 mb-5">
                    <div
                      class="indicator bg-secondary me-0 mt-2 flex-shrink-0"></div>
                    <div class="user-message">
                      <h6 class="message mb-1"> <a href="#"
                          [ngClass]="{'text-danger': congeStatus[point] === 'Unjustified', 'text-success': congeStatus[point] === 'DayOff'}">
                          {{ congeStatus[point] }}
                        </a></h6>
                      <p
                        class="message-footer d-flex align-items-center justify-content-between">
                        <span><i class="bi bi-calendar-fill"></i>
                          {{point}}</span>
                      </div>
                    </li>
                  </ng-container>
                </ng-container>
              </ul>
            </div>
          </div>
          <div class="card border-0 p-5">
            <div
              class="card-header pb-5 bg-transparent border-0 d-flex align-items-center justify-content-between gap-3">
              <h4 class="mb-0">Check List
                :{{employeedata1.employeeDetails.length}} Days</h4>
              <div class="ms-auto d-flex align-items-center gap-3">

              </div>

            </div>
            <div class="card-body p-0">
              <div class="table-responsive">
                <div id="table-3_wrapper" class="dataTables_wrapper no-footer">
                  <div class="dataTables_length" id="table-3_length">
                    *
                  </div>
                  <div id="table-3_filter" class="dataTables_filter">
                    <label>
                      <i class="bi bi-search"></i>
                      <input type="search" placeholder="Search here"
                        aria-controls="table-3">
                    </label>
                  </div>
                  <table id="table-3"
                    class="display text-center dataTable no-footer"
                    aria-describedby="table-3_info">
                    <thead>
                      <tr>
                        <th class="sorting sorting_asc" tabindex="0"
                          aria-controls="table-3" rowspan="1" colspan="1"
                          aria-sort="ascending"
                          aria-label=": activate to sort column descending"
                          style="width: 40px;">
                          <input type="checkbox" class="form-check-input"
                            id="checkbox1" value>
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="table-3"
                          rowspan="1" colspan="1"
                          aria-label="Checkin: activate to sort column ascending"
                          style="width: 174.75px;">Checkin</th>
                        <th class="sorting" tabindex="0" aria-controls="table-3"
                          rowspan="1" colspan="1"
                          aria-label="Mid-checkout: activate to sort column ascending"
                          style="width: 149.975px;">Mid-checkout</th>
                        <th class="sorting" tabindex="0" aria-controls="table-3"
                          rowspan="1" colspan="1"
                          aria-label="Mid-checkin: activate to sort column ascending"
                          style="width: 129.125px;">Mid-checkin</th>
                        <th class="sorting" tabindex="0" aria-controls="table-3"
                          rowspan="1" colspan="1"
                          aria-label="Checkout: activate to sort column ascending"
                          style="width: 58px;">Checkout</th>
                        <th class="sorting" tabindex="0" aria-controls="table-3"
                          rowspan="1" colspan="1"
                          aria-label="Date: activate to sort column ascending"
                          style="width: 102.525px;">Date</th>
                        <th class="sorting" tabindex="0" aria-controls="table-3"
                          rowspan="1" colspan="1"
                          aria-label="Status: activate to sort column ascending"
                          style="width: 100px;">Status</th>
                        <th class="sorting" tabindex="0" aria-controls="table-3"
                          rowspan="1" colspan="1"
                          aria-label=": activate to sort column ascending"
                          style="width: 19px;"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <ng-container *ngIf="employeedata1">
                        <ng-container
                          *ngFor="let point of employeedata1.employeeDetails">
                          <tr>
                            <td class="sorting_1">
                              <input type="checkbox" class="form-check-input"
                                id="checkbox1" value>
                            </td>
                            <td><h5
                                [ngClass]="{'text-red-blink': isExceedingTime(displayPoint(point.points[0]))}">{{
                                displayPoint(point.points[0]) }}</h5></td>
                            <td><h5>{{ displayPoint(point.points[1])
                                }}</h5></td>
                            <td><h5>{{ displayPoint(point.points[2])
                                }}</h5></td>
                            <td><h5>{{ displayPoint(point.points[3])
                                }}</h5></td>
                            <td
                              [ngClass]="{'text-red-blink': isExceedingTime(displayPoint(point.points[0]))}">{{
                              point.jour }}:{{ point.date }}</td>
                            <td>
                              <h5
                                [ngClass]="{'text-ok': getStatus(point) === 'With Authorization' ,'text-blue': getStatus(point) === 'Ok', 'text-warning': getStatus(point) === 'Not Ok'}">
                                {{ getStatus(point) }}
                              </h5>
                            </td>
                            <td>
                              <div class="dropdown">
                                <a href="#" data-bs-toggle="dropdown"
                                  class="fs-24 text-gray">
                                  <i class="bi bi-three-dots-vertical"></i>
                                </a>
                                <div class="dropdown-menu p-0">
                                  <a class="dropdown-item"
                                    href="checkin.html">View</a>
                                  <a class="dropdown-item" href="#">Edit</a>
                                  <a class="dropdown-item text-danger"
                                    href="#">Delete</a>
                                </div>
                              </div>
                            </td>
                          </tr>
                        </ng-container>
                      </ng-container>
                    </tbody>
                  </table>

                  <div class="dataTables_paginate paging_simple_numbers"
                    id="table-3_paginate">
                    <a class="paginate_button previous disabled"
                      aria-controls="table-3" aria-disabled="true" role="link"
                      data-dt-idx="previous" tabindex="-1"
                      id="table-3_previous"><i
                        class="bi bi-chevron-left"></i></a>
                    <span>
                      <a class="paginate_button current" aria-controls="table-3"
                        role="link" aria-current="page" data-dt-idx="0"
                        tabindex="0">1</a>
                      <a class="paginate_button" aria-controls="table-3"
                        role="link" data-dt-idx="1" tabindex="0">2</a>
                    </span>
                    <a class="paginate_button next" aria-controls="table-3"
                      role="link" data-dt-idx="next" tabindex="0"
                      id="table-3_next"><i class="bi bi-chevron-right"></i></a>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="col-xxl-3 col-lg-4 p-0">
        <!-- Right Side Panel -->
        <div class="kleon-right-side-panel overflow-auto">
          <div class="card border-0 rounded-0">
            <div class="card-body p-0">
              <div class="d-flex justify-content-between gap-4 p-0 mb-5">
                <div>
                  <img
                    src="http://127.0.0.1:5000/img/{{ employee.image }}"
                    alt="img" width="80" height="80" class="rounded-1">
                </div>
                <div class="ms-auto">
                  <a href="#" data-bs-toggle="dropdown" class="fs-24 text-gray">
                    <i class="bi bi-three-dots-vertical"></i>
                  </a>
                  <div class="dropdown-menu p-0">
                    <a class="dropdown-item" href="#">View</a>
                    <a class="dropdown-item" href="#">Edit</a>
                  </div>
                </div>
              </div>
              <div>
                <h3 class="fs-36">{{ employee.nom }}.</h3>
                <p class="fw-semibold text-gray mb-0">Matricule <span
                    class="fw-bold text-primary">{{ employee.matricule
                    }}</span></p>
              </div>

              <ul class="list-unstyled mt-3 mr-bottom-25">
                <li
                  class="d-flex align-items-center justify-content-between gap-3 mb-3">
                  <div class="d-flex align-items-center gap-3">
                    <div
                      class="candidate--contact-icon bg-soft-primary text-center">
                      <i class="bi bi-telephone-fill"></i>
                    </div>
                    <div class="fs-14 fw-semibold"><a href="tel:+12 345 6789 0"
                        class="text-dark">{{ employee.tel
                        }}</a></div>
                  </div>
                </li>

                <li
                  class="d-flex align-items-center justify-content-between gap-3 mb-3">
                  <div class="d-flex align-items-center gap-3">
                    <div
                      class="candidate--contact-icon bg-soft-primary text-center">
                      <i class="bi bi-envelope-fill"></i>
                    </div>
                    <div class="fs-14 fw-semibold"><a
                        href="mailto:angelamoss.com"
                        class="text-dark">angelamossmail.com</a></div>
                  </div>
                </li>
              </ul>

            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
